@model SiteOfShoes.Entities.Accounting.User

<div class="container">
    <h2>Изменение пользователя @Model.Name:</h2>
    <form method="post">
      <div class="form-group">
        <label asp-for="Name">Имя пользователя</label>
        <input asp-for="Name" class="form-control" placeholder="Пупкин Петр Павлович">
      </div>
      <div class="form-group">
        <label asp-for="Email">Электронная почта</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="example">
      </div>
      <div class="form-group">
        <label asp-for="Password">Пароль</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="">
      </div>
      <div class="form-group">
          <select asp-for="RoleId" class="custom-select">
            <option selected>Роль</option>
            @foreach(SiteOfShoes.Entities.Accounting.Role role in ViewBag.Roles)
            {
                <option value="@role.ID">@role.Name</option>
            }
          </select>
      </div>
      <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>  