
<div class="container">
    <div class="display-1">Спасибо за заказ!</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <a class="" asp-area="" asp-controller="Account" asp-action="Profile">К заказам!</a>
</div>